<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: taghead">
  <title>will be replaced</title>
</head>

<body>
  <div th:replace="fragments/menu :: tagmenu">
  </div>
  <hr />
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="personn : ${ personns }">
        <td th:text="${ personn.nom }"></td>
        <td th:text="${ personn.prenom }"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>